:root {
  --color-accent: #01898C;
  --color-accent-hover: #007A84;
  --color-text-primary: #727376;
  --color-text-secondary: #9EA0A2;
  --color-bg-main: #F7F8F9;
  --color-bg-card: #FFFFFF;
  --color-border-subtle: #E0E2E4;
  --shadow-subtle: rgba(0, 0, 0, 0.04);

  --font-family-base: 'Poppins', sans-serif;
  --border-radius: 8px;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
}
